In [1]:
import requests
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq

In [2]:
searchString='iphone'

In [3]:
flipkart_url = "https://www.flipkart.com/search?q=" + searchString
print(flipkart_url)
uClient = uReq(flipkart_url)
flipkartPage = uClient.read()
uClient.close()

https://www.flipkart.com/search?q=iphone

In [4]:
flipkart_html = bs(flipkartPage, "html.parser")
bigboxes = flipkart_html.find_all("div", {"class": "bhgxx2 col-12-12"})
del bigboxes[0:2]

In [5]:
len(bigboxes)

14

In [6]:
productLink = "https://www.flipkart.com" + bigboxes[0].div.div.a['href']
productLink

'https://www.flipkart.com/apple-iphone-11-white-128-gb/p/itm846a8ba21ab11?pid=MOBFKCTS4MZVJ6FJ&lid=LSTMOBFKCTS4MZVJ6FJPY4SUX&marketplace=FLIPKART&srno=s_1_1&otracker=search&fm=organic&iid=d1fe4229-382e-4e21-90c9-6d6d309935b0.MOBFKCTS4MZVJ6FJ.SEARCH&ssid=z3wzsrqwww0000001588604099680&qH=0b3f45b266a97d70'

In [7]:
prodRes = requests.get(productLink)
prod_html = bs(prodRes.text, "html.parser")

cost = prod_html.find_all('div', {'class': "_1vC4OE _3qQ9m1"})

In [8]:
cost[0].text

'₹73,600'

In [9]:
names=prod_html.find_all('span',{"class":"_35KyD6"})

In [10]:
names[0].text

'Apple iPhone 11 (White, 128 GB)'

In [11]:
def price(i):
    productLink = "https://www.flipkart.com" + bigboxes[i].div.div.a['href']
    prodRes = requests.get(productLink)
    prod_html = bs(prodRes.text, "html.parser")
    prices = prod_html.find_all('div', {'class': "_1vC4OE _3qQ9m1"})
    #names=prod_html.find_all('span',{"class":"_35KyD6"})
    return prices[0].text

In [12]:
price(1)

'₹36,999'

In [13]:
Flipkart_prices=[]
for i in range(10):
    prices=price(i)
    Flipkart_prices.append(prices)

In [14]:
def product_name(i):
    productLink = "https://www.flipkart.com" + bigboxes[i].div.div.a['href']
    prodRes = requests.get(productLink)
    prod_html = bs(prodRes.text, "html.parser")
    names=prod_html.find_all('span',{"class":"_35KyD6"})
    return names[0].text

In [15]:
Mobile_name=[]
for i in range(10):
    names=product_name(i)
    Mobile_name.append(names)

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(list(zip(Mobile_name, Flipkart_prices)), 
               columns =['Mobile_name', 'Flipkart_price']) 
df

                                         Mobile_name Flipkart_price
0                    Apple iPhone 11 (White, 128 GB)        ₹73,600
1                 Apple iPhone 7 Plus (Black, 32 GB)        ₹36,999
2                    Apple iPhone 11 (Black, 128 GB)        ₹73,600
3  Marshland Tempered Glass Guard for Apple iPhon...           ₹389
4                Apple iPhone XS (Space Grey, 64 GB)        ₹62,999
5                       Apple iPhone 11 (Red, 64 GB)        ₹68,300
6                      Apple iPhone 11 (Red, 128 GB)        ₹73,600
7              Apple iPhone XR ((PRODUCT)RED, 64 GB)        ₹52,500
8                     Apple iPhone XR (Blue, 128 GB)        ₹61,899
9           Apple iPhone XS Max (Space Grey, 512 GB)      ₹1,19,900